*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* body {
  background-image: url('./helado-de-banana-split-5.jpg');
  background-size: auto;
} */

header {
    background-color: #f58220;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin-right: 20px;
  }

  nav li a {
    color: #fff;
    text-decoration: none;
  }


  @media screen and (min-device-width: 319px) and (max-device-width: 844px) {
    
    body {
      background-image: url('./helado-de-chocolate.jpg');
      background-size: cover;
    }

    header {
      background-color: #f58220;
    }

    .filter{
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      flex-wrap: wrap ;
      justify-content: space-evenly;  
      padding: 10px 5px;
    }

    .filter-buttons {
      color: #f58220;
      padding: 10px 15px; 
      margin: 2px 5px;
      font-size: medium;
      background-color: transparent;
      border-radius: 7px 7px 0px 0px;
      border-block-end: none;
      border: none;

    }

    .filter-buttons:focus{
      background-color: #f58220;
      color: aliceblue;
      border: solid 1px;
      border-block-end: none;
      border-color: #fff;
    }

    .product-list {
      min-height: 70vh;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .container {
      text-align: center;
      color: aliceblue;
      text-shadow:  -1px 1px 2px #000,
                    1px 2px 6px #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
      font-size: 14px;
      padding: 0px 5px;
      padding-top: 15px;
    }

    .container h3 {
              font-size: 14px;
    }

    footer {
      min-height: 20vh;
      background-color: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  }